# Maven / Java
/target/
/pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# IDEs
/.idea/
/.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs, binaries, archives
*.log
*.class
*.jar
*.war
*.zip
*.tar.gz
*.exe
gitleaks*
*.pdb

# Local environment / sensitive files
.env
*.local
